@model MovieTicketDB.Models.Ticket

@{
    ViewBag.Title = "Chi tiết vé";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .ticket-detail {
        width: 800px;
        margin: 30px auto;
        background: white;
        border: 2px dashed red;
        padding: 25px;
        border-radius: 12px;
    }

    .ticket-title {
        text-align: center;
        color: red;
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 25px;
    }

    .ticket-info {
        font-size: 18px;
        line-height: 32px;
    }

    .ticket-code {
        text-align: center;
        background: #f5f5f5;
        padding: 15px;
        margin-top: 25px;
        font-size: 22px;
        font-weight: bold;
        color: red;
    }
</style>

<div class="ticket-detail">

    <div class="ticket-title">
        PHP CINEMA TICKET
    </div>

    <div class="ticket-info">
        <p><b>Mã vé:</b> @Model.TicketID</p>

        <p><b>Khách hàng:</b> @Model.User.FullName</p>

        <p><b>Email:</b> @Model.User.Email</p>

        <p><b>Phim:</b> @Model.ShowTime.Movy.Title</p>

        <p><b>Rạp:</b> @Model.ShowTime.Room.Cinema.CinemaName</p>

        <p><b>Phòng:</b> @Model.ShowTime.Room.RoomName</p>

        <p><b>Ghế:</b> @Model.Seat.SeatName</p>

        <p><b>Ngày chiếu:</b> @Model.ShowTime.ShowDate</p>

        <p><b>Giờ chiếu:</b> @Model.ShowTime.StartTime</p>

        <p><b>Giá vé:</b> @Model.ShowTime.Price VNĐ</p>

        <p><b>Ngày đặt:</b> @Model.BookingDate</p>

        <p><b>Trạng thái:</b> @Model.Status</p>
    </div>

    <div class="ticket-code">
        TICKET-@Model.TicketID
    </div>

    <br />

    <a href="/Movie/Index" class="btn btn-default">
        Về danh sách phim
    </a>

</div>